@media (min-width: 800px) {
    body {
        font-size: 1.5vw;
    }

    .name-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4vw 0 0 0;
    }

    .name-logo img {
        width: 9vw;
        height: 9vw;
    }

    #menu-logo {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        width: 25vw;
        font-size: 1.5vw;
    }

    .contact-information {
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.5vw;
    }

    .contact-information picture {
        width: 50vw;
    }

    .contact-information .social img {
        width: 5vw;
        height: 5vw;
    }

    header h1 {
        font-size: 4vw;
        width: 15vw;
    }

    header h2 {
        display: block;
        font-size: 1.5vw;
        align-self: center;
        width: fit-content;
        margin: 0 2vw 2vw 0;
        padding: 1vw 2vw;
        letter-spacing: 0.1vw;
        text-align: center;
        color: white;
    }

    header h3 {
        font-size: 1.3vw;
    }

    h2,
    h3 {
        text-align: center;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 1em;
    }

    li {
        font-size: 1.5vw;
    }

    footer {
        font-size: 1.5vw;
    }

    th {
        font-size: 1.5vw;
    }

    td {
        font-size: 1.5vw;
    }

    #footer-nav p {
        font-size: 1.5vw;
    }


    #forecast-table {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 4vw 0;
    }

    .forecast-day {
        display: flex;
        flex-direction: column;
    }

    .forecast-day img {
        width: 6vw;
        height: 6vw;
        align-self: center;
        margin: 2vw 0;
    }

    .weather-summary,
    .contact {
        text-align: left;
    }

    .weather-summary {
        position: absolute;
        top: 37vw;
        background: white;
        box-shadow: 0 4px 8px 0 rgb(2 48 71 / 20%);
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .gallery {
        columns: 3;
    }


    .gallery-card:hover {
        box-shadow: 8px 8px 16px 4px rgb(2 48 71 / 40%);
    }

    .gallery-card {
        min-width: 27vw;
        min-height: 27vw;
    }
}