@media (min-width: 500px) {
    .name-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4vw 0 0 0;
    }

    .name-logo img {
        width: 9vw;
        height: 9vw;
    }

    #menu-logo {
        display: none;
    }

    ul {
        flex-direction: row;
    }

    li {
        width: 25vw;
        font-size: 1.5vw;
    }

    .contact-information {
        flex-direction: column;
    }

    header h1 {
        font-size: 4vw;
        width: 15vw;
    }

    header h2 {
        font-size: 1.5vw;
        align-self: center;
        width: fit-content;
        margin: 0 2vw 2vw 0;
        padding: 1vw 2vw;
        letter-spacing: 0.1vw;
        text-align: center;
        color: white;
    }

    header h3 {
        font-size: 1.3vw;
    }

    h2,
    h3 {
        text-align: center;
    }

    h3 {
        font-size: 1em;
    }

    li {
        font-size: 3vw;
    }

    footer {
        font-size: 1.5vw;
    }

    th {
        font-size: 1.5vw;
    }

    td {
        font-size: 1.5vw;
    }

    #footer-nav p {
        font-size: 1.5vw;
    }

    .attribution {
        font-size: 10px;
    }
}