@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

.name-logo img {
    width: 55px;
    height: 55px;
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #002e4e;
}

.name-logo {
    display: flex;
    flex-direction: row;
    padding: 1vw;
}

#menu-logo {
    position: absolute;
    width: 50px;
    right: 4vw;
    top: 2vw;
}

body {
    font-family: Roboto, 'Open Sans', sans-serif;
}

header h1 {
    font-family: Comfortaa, 'Open Sans', sans-serif;
    font-size: 1.5em;
}

header h2 {
    display: none;
}

header h3 {
    font-size: 1.3vw;
    letter-spacing: 0.2vw;
    text-align: center;
    width: 100%;
    background: #ffb703;
    margin: 0;
    color: black;
    padding: 1vw 0;
}

h2,
h3 {
    text-align: center;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1em;
}

.selected-page {
    color: white;
    background-color: #006c67;
    border-radius: 50px;
}

nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-family: Comfortaa, 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
    text-align: center;
    color: #023047;
    margin: 0;
    padding: 0;
}

li {
    width: 200px;
    font-size: 1em;
}

li:hover {
    border: 3px solid;
    border-radius: 50px;
}

li a {
    display: block;
    color: #023047;
    border-radius: 50px;
    padding: 1vw;
}

a {
    text-decoration: none;
    color: white;
    padding: 2vw 0;
}

#hero {
    position: relative;
    display: flex;
    justify-content: center;
}

#hero h2 {
    font-size: 5vw;
    line-height: 10vw;
}

.blur {
    filter: blur(7px);
}

.hl {
    font-size: 7vw;
    /* color: white;
    background-color: #023047; */
    color: #023047;
    background-color: white;
    padding: 0 5vw;
    border-radius: 10vw;
    /* border: 3px solid #023047; */
}

.medium-hl {
    font-size: 5vw;
    color: #023047;
    background-color: white;
    /* color: white;
    background-color: #023047; */
    padding: 0 5vw;
    border-radius: 10vw;
    /* border: 3px solid #023047; */
}

.small-hl {
    font-size: 3vw;
    color: #023047;
    background-color: white;
    /* color: white;
    background-color: #023047; */
    padding: 0 5vw;
    border-radius: 10vw;
    /* border: 3px solid #023047; */
}

#hero-description {
    position: absolute;
    top: 0;
    padding: 0 10vw;
    color: white;
}

#hero-description h2:nth-child(2) {
    margin-top: -7vw
}

#book-now {
    position: absolute;
    top: 65vw;
    right: 36vw;
}

.button {
    color: white;
    background-color: #023047;
    padding: 1vw 5vw;
    border-radius: 50px;
    font-family: Comfortaa, 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    /* box-shadow: 0px 10px 8px rgba(2, 48, 71, 0.5); */
    width: 20vw;
    text-align: center;
    margin: auto;
}

#hero div a {
    /* color: #023047; */
    color: white;
}



.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vw;
    box-shadow: 0px 10px 8px rgba(2, 48, 71, 0.5);
    border-radius: 8px;
    margin: 5vw 4vw;


}

footer {
    /* background: #023047; */
    padding: 2vw;
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: 0.7em;
    color: #023047;
    text-align: center;
}

footer a {
    color: inherit;
}

footer a:visited {
    color: #fb8500;
}

th {
    line-height: 4vw;
    font-size: 1.5vw;
}


td {
    padding: 0 2vw;
    border: 0.15vw solid black;
    font-size: 1.5vw;
}

#footer-nav {
    color: #FFFFFF;
    background-color: #023047;
    margin: 0;
    font-weight: normal;
}

#footer-nav p {
    font-size: 1.5vw;
    font-family: Roboto, 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4vw;
}

.social img {
    width: 50px;
    height: 50px;
}

.weather-summary {
    text-align: center;
    padding: 2vw;
    box-shadow: 0px 10px 8px rgba(2, 48, 71, 0.5);
    border-radius: 8px;
    margin: 5vw 4vw;

}

nav ul.show-menu {
    display: flex;
    margin: 2vw;
}

.rentals ul {
    padding: 0;
}

.rentals h2 {
    font-size: 1.5em;
}

.rentals-summary {
    padding: 2vw;
    box-shadow: 0px 10px 8px rgba(2, 48, 71, 0.5);
    border-radius: 8px;
    margin: 5vw 4vw;
}

.rentals-summary li:last-child {
    margin-bottom: 4vw;
}

.rentals-summary li {
    width: 100%;
}

.vehicle-model {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card {
    width: 30vw;
    margin: 2vw;
    padding: 2vw;
    box-shadow: 0 4px 8px 0 rgb(2 48 71 / 20%);
    border-radius: 8px;
}

.card img {
    /* width: 25vw; */
}

@media (max-width: 225px) {
    .name-logo h1 {
        display: none;
    }
}